* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

/* Navbar */
.navbar {
  height: 77px;
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  align-items: center;
}

/* Container */
.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  height: 45px;
  width: 109px;
}

/* Right Nav */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.drop-down {
  height: 6.5px;
  width: 11.5px;
  margin-left: 10px;
}

/* Button */
.contact-us-button {
  background-color: #2b3990;
  color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  width: 107px;
  height: 44px;
}

.hero-section {
  position: relative;
  width: 100%;
  background-image: url("./images/main_background.png");
  background-size: cover;
  background-position: center;
  height: 1117px;
}

.hero-content {
  color: #333;
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-subtitle {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.breadcrumb {
  color: #777;
}

.separator {
  color: #999;
  font-weight: bold;
}

.current {
  color: #333;
  font-weight: 500;
}

.hero-second {
  margin-top: 23px;
  display: flex;
}

.hero-second-left-image {
  height: 570px;
  width: 570px;
  margin-left: -30px;
}

.hero-second-left-bottom-white-image {
  margin-top: -30px;
  width: 515px;
  display: flex;
  gap: 16px;
  overflow: hidden;
}

.hero-second-left-bottom-white-image img {
  width: 80px;
  height: 80px;
}

.hero-second-right {
  margin-top: 15px;
  margin-left: 70px;
}

.main-certified {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #f7f8f9;
  height: 36px;
  width: 142px;
  border-radius: 6px;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e1e3e8;
  margin-right: 14px;
}

.main-certified img {
  height: 18px;
}

.main-certified p {
  margin: 0;
  font-size: 14px;
  color: #4b5563;
  font-weight: 500;
}

.hero-second-right-heading {
  margin-top: 25px;
  width: 570px;
}

.hero-second-right-heading h1 {
  font-size: 53px;
  font-weight: 700;
}

.hero-second-right-checkpoints {
  margin-top: 23px;
}

.hero-second-right-checkpoint {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.hero-second-right-checkpoint img {
  width: 14px;
  height: 14px;
}

.hero-second-right-checkpoint p {
  margin: 0;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 400;
}

.hero-second-right-price-range {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 570px;
}

.price-title {
  font-size: 14px;
  color: #6a7077;
  font-weight: 500;
}

.price-value {
  font-size: 20px;
  font-weight: 600;
  color: #0d0d0d;
  margin: 12px 0 15px 0;
}

.price-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tag {
  padding: 9px 16px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
}

.shipping {
  background: #fef3c7;
  color: #92400e;
  font-size: 14px;
  font-weight: 500;
}

.returns {
  background: #fef3c7;
  color: #92400e;
  font-size: 14px;
  font-weight: 500;
}

.certifications {
  background: #f3f4f6;
  display: inline-block;
  padding: 9px 16px;
  border-radius: 6px;
  font-size: 14px;
  color: #0d0d0d;
  font-weight: 500;
}

.hero-second-right-quote-button {
  margin-top: 20px;
}

.hero-second-right-quote-button {
  display: flex;
  gap: 16px;
}

.hero-second-right-quote-button button {
  padding: 14px 22px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
}

.quote-btn {
  background-color: #2b3990;
  color: #ffffff;
  border: none;
}

.specs-btn {
  background-color: transparent;
  color: #2b3990;
  border: 1.5px solid #2b3990;
}

.hero-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 72px;
}

.hero-bottom p {
  color: #878b94;
  font-size: 16px;
}

.trusted-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
  width: 100%;
}

.trusted-logos img {
  height: 40px;
}

.technical-specifications {
  background-color: #111827;
  color: #ffffff;
}

.technical-specifications-main {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.technical-specifications-heading {
  margin-top: 135px;
  margin-bottom: 135px;
}

.technical-specifications-heading h1 {
  color: #ffffff;
  font-size: 46px;
  font-weight: 700;
}

.technical-specifications-heading h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  width: 800px;
  margin-top: 18px;
}

/* 1600 & 1440 */
@media (max-width: 1600px) {
  .navbar {
    padding: 0 100px;
  }
}

@media (max-width: 1440px) {
  .navbar {
    padding: 0 100px;
  }
  .hero-section {
    padding: 0 100px;
  }
}

/* 1200 */
@media (max-width: 1200px) {
  .navbar {
    padding: 0 80px;
  }
  .hero-section {
    padding: 0 100px;
  }
}

/* 1080 */
@media (max-width: 1080px) {
  .navbar {
    padding: 0 60px;
  }
  .hero-section {
    padding: 0 100px;
  }
}

/* 800 */
@media (max-width: 800px) {
  .navbar {
    padding: 0 48px;
  }
  .hero-section {
    padding: 0 100px;
  }
}

/* 360 */
@media (max-width: 360px) {
  .navbar {
    padding: 0 16px;
  }
}
