* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

/* Navbar */
.navbar {
  height: 77px;
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  align-items: center;
}

/* Container */
.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  height: 45px;
  width: 109px;
}

/* Right Nav */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.drop-down {
  height: 6.5px;
  width: 11.5px;
  margin-left: 10px;
}

/* Button */
.contact-us-button {
  background-color: #2b3990;
  color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  width: 107px;
  height: 44px;
}

.hero-section {
  position: relative;
  width: 100%;
  background-image: url("./images/main_background.png");
  background-size: cover;
  background-position: center;
  height: 1117px;
}

.hero-content {
  color: #333;
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-subtitle {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.breadcrumb {
  color: #777;
}

.separator {
  color: #999;
  font-weight: bold;
}

.current {
  color: #333;
  font-weight: 500;
}

.hero-second {
  margin-top: 23px;
  display: flex;
}

.hero-second-left-image {
  height: 570px;
  width: 570px;
  margin-left: -30px;
}

.hero-second-left-bottom-white-image {
  margin-top: -30px;
  width: 515px;
  display: flex;
  gap: 16px;
  overflow: hidden;
}

.hero-second-left-bottom-white-image img {
  width: 80px;
  height: 80px;
}

.hero-second-right {
  margin-top: 15px;
  margin-left: 70px;
}

.main-certified {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #f7f8f9;
  height: 36px;
  width: 142px;
  border-radius: 6px;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e1e3e8;
  margin-right: 14px;
}

.main-certified img {
  height: 18px;
}

.main-certified p {
  margin: 0;
  font-size: 14px;
  color: #4b5563;
  font-weight: 500;
}

.hero-second-right-heading {
  margin-top: 25px;
  width: 570px;
}

.hero-second-right-heading h1 {
  font-size: 53px;
  font-weight: 700;
}

.hero-second-right-checkpoints {
  margin-top: 23px;
}

.hero-second-right-checkpoint {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.hero-second-right-checkpoint img {
  width: 14px;
  height: 14px;
}

.hero-second-right-checkpoint p {
  margin: 0;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 400;
}

.hero-second-right-price-range {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 570px;
}

.price-title {
  font-size: 14px;
  color: #6a7077;
  font-weight: 500;
}

.price-value {
  font-size: 20px;
  font-weight: 600;
  color: #0d0d0d;
  margin: 12px 0 15px 0;
}

.price-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tag {
  padding: 9px 16px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
}

.shipping {
  background: #fef3c7;
  color: #92400e;
  font-size: 14px;
  font-weight: 500;
}

.returns {
  background: #fef3c7;
  color: #92400e;
  font-size: 14px;
  font-weight: 500;
}

.certifications {
  background: #f3f4f6;
  display: inline-block;
  padding: 9px 16px;
  border-radius: 6px;
  font-size: 14px;
  color: #0d0d0d;
  font-weight: 500;
}

.hero-second-right-quote-button {
  margin-top: 20px;
}

.hero-second-right-quote-button {
  display: flex;
  gap: 16px;
}

.hero-second-right-quote-button button {
  padding: 14px 22px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
}

.quote-btn {
  background-color: #2b3990;
  color: #ffffff;
  border: none;
}

.specs-btn {
  background-color: transparent;
  color: #2b3990;
  border: 1.5px solid #2b3990;
}

.hero-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 72px;
}

.hero-bottom p {
  color: #878b94;
  font-size: 16px;
}

.trusted-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
  width: 100%;
}

.trusted-logos img {
  height: 40px;
}

.technical-specifications {
  background-color: #111827;
  color: #ffffff;
  padding: 0 100px;
}

.technical-specifications-main {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.technical-specifications-heading {
  margin-top: 135px;
}

.technical-specifications-heading h1 {
  color: #ffffff;
  font-size: 46px;
  font-weight: 700;
}

.technical-specifications-heading h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  width: 800px;
  margin-top: 18px;
}

.technical-specifications-table {
  width: 100%;
  margin-top: 50px;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #374151;
  border: 1px solid #374151;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.table-header-item {
  padding: 18px 24px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #374151;
  border-left: 1px solid #374151;
  border-right: 1px solid #374151;
  background-color: #1f2937;
}

.table-cell {
  padding: 18px 24px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.table-row:last-child {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.technical-specifications-button {
  margin-top: 59px;
  text-align: center;
  margin-bottom: 135px;
}

.technical-specifications-button button {
  background-color: #111827;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
  width: 325px;
  height: 52px;
}

.technical-specifications-button img {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.built-to-last {
  background-image: url("./images/built_to_last_background.png");
  background-size: cover;
  background-position: center;
  color: #0d0d0d;
  padding: 0 100px;
}

.built-to-last-main {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 56px;
}

.built-to-last-heading {
  margin-top: 50px;
}

.built-to-last-heading h1 {
  color: #0d0d0d;
  font-size: 46px;
  font-weight: 700;
}

.built-to-last-heading h4 {
  color: #6a7077;
  font-size: 18px;
  font-weight: 400;
  width: 800px;
  margin-top: 18px;
  margin-bottom: 30px;
}

.built-to-last-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
  margin-top: 30px;
}

.card {
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  padding: 25px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.card-icon img {
  width: 25px;
  height: 25px;
}

.card h2 {
  font-size: 20px;
  font-weight: 600;
  color: #0d0d0d;
  margin-top: 14px;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  color: #535a61;
  margin-top: 12px;
}

.built-to-last-button {
  margin-top: 59px;
  text-align: center;
  margin-bottom: 110px;
}

.built-to-last-button button {
  background-color: #2b3990;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
  width: 174px;
  height: 52px;
}

.faq {
  background-image: url("./images/built_to_last_background.png");
  background-size: cover;
  background-position: center;
  color: #0d0d0d;
  padding: 0 100px;
  padding-bottom: 20px;
}

.faq-main {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 56px;
  margin-bottom: 90px;
}

.faq-heading h1 {
  color: #111827;
  font-size: 44px;
  font-weight: 700;
  margin-top: 50px;
}

.faq-frequently {
  color: #2b3990;
}

.faq-card-expanded {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 25px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  margin-top: 25px;
  position: relative;
}

.faq-card-closed {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 23px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  margin-top: 23px;
  position: relative;
}

.faq-card-email {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 30px 23px;
  background-color: #f7f8f9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  margin-top: 23px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.faq-card-email-question {
  font-size: 26px;
  color: #0d0d0d;
  font-weight: 600;
}

.faq-card-email-text {
  font-size: 16px;
  color: #262a2e;
  font-weight: 400;
  margin-top: 10px;
}

.faq-card-email-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -14px;
  margin-bottom: -15px;
}

.faq-card-email-right input {
  border: 1px solid #e1e3e8;
  outline: none;
  padding: 12px 14px;
  font-size: 14px;
  border-radius: 8px;
  width: 360px;
}

.faq-card-email-right button {
  background-color: #2b3990;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
  width: 360px;
  height: 40px;
}

.faq-card-closed img {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 24px;
  height: 24px;
}

.faq-card-expanded img {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 24px;
  height: 24px;
}

.faq-question {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.faq-answer {
  color: #535a61;
  font-size: 16px;
  margin-top: 12px;
}

/* 1600 & 1440 */
@media (max-width: 1600px) {
  .navbar {
    padding: 0 100px;
  }
}

@media (max-width: 1440px) {
  .navbar {
    padding: 0 100px;
  }
  .hero-section {
    padding: 0 100px;
  }
}

/* 1200 */
@media (max-width: 1200px) {
  .navbar {
    padding: 0 80px;
  }
  .hero-section {
    padding: 0 100px;
  }
}

/* 1080 */
@media (max-width: 1080px) {
  .navbar {
    padding: 0 60px;
  }
  .hero-section {
    padding: 0 100px;
  }
}

/* 800 */
@media (max-width: 800px) {
  .navbar {
    padding: 0 48px;
  }
  .hero-section {
    padding: 0 100px;
  }
}

/* 360 */
@media (max-width: 360px) {
  .navbar {
    padding: 0 16px;
  }
}
